* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.fuente {
    font-family: 'Rampart One', cursive;
}

.fondo {
    background-color: #A93226;
}

.fuente2 {
    font-family: 'Bree Serif', serif;
}

.fondocachorros {
    background-image: url('../img/perritospu.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.3);
}

.fondofooter {
    background-color: #CD6155;
}